@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@theme{
    --color-card: #EBF4DD;
    --color-background: #90AB8B;
}

.vazirmatn {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}